<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:name=".Services.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_1"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_logo_1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".View.UI.User.ResetPassword"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <meta-data
                android:name="firebase_messaging_auto_init_enabled"
                android:value="false" />
            <meta-data
                android:name="firebase_analytics_collection_enabled"
                android:value="false" />
        </activity>
        <service
            android:name=".Services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".View.UI.Admin.AdminUserDetails"
            android:exported="false"
            android:parentActivityName=".View.UI.Admin.DashBoard" />
        <activity
            android:name=".View.UI.Admin.QRScannerView"
            android:exported="false" />
        <activity
            android:name=".View.UI.User.AboutUs"
            android:exported="false"
            android:parentActivityName=".View.UI.User.HomePage" />
        <activity
            android:name=".View.UI.Admin.AdminViewOrders"
            android:exported="false"
            android:parentActivityName=".View.UI.Admin.DashBoard" />
        <activity
            android:name=".View.UI.User.ProductsDisplay"
            android:exported="false"
            android:parentActivityName=".View.UI.User.HomePage" />
        <activity
            android:name=".View.UI.Admin.AdminDisplayProducts"
            android:exported="false"
            android:parentActivityName=".View.UI.Admin.DashBoard" />
        <activity
            android:name=".View.UI.Admin.AdminOrderDetail"
            android:exported="false"
            android:parentActivityName=".View.UI.Admin.AdminViewOrders" />
        <activity
            android:name=".View.UI.Admin.DashBoard"
            android:exported="false" />
        <activity
            android:name=".View.UI.User.OrderDetail"
            android:exported="false"
            android:parentActivityName=".View.UI.User.ViewOrder" />
        <activity
            android:name=".View.UI.User.ViewOrder"
            android:exported="false"
            android:parentActivityName=".View.UI.User.HomePage" />
        <activity
            android:name=".View.UI.User.ConfirmOrder"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.UI.Admin.AdminPackDetail"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.UI.Admin.AddPackage"
            android:exported="false" />
        <activity
            android:name=".View.UI.Admin.AddAdmin"
            android:exported="false" />
        <activity
            android:name=".View.UI.User.ProfileUser"
            android:exported="false"
            android:parentActivityName=".View.UI.User.HomePage" />
        <activity
            android:name=".View.UI.Admin.AdminPackages"
            android:exported="false"
            android:parentActivityName=".View.UI.Admin.DashBoard" />
        <activity
            android:name=".View.UI.Admin.AdminLogin"
            android:exported="false" />
        <activity
            android:name=".View.UI.User.RegisterUser"
            android:exported="false"
            android:parentActivityName=".View.UI.User.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.UI.User.LoginActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.UI.User.PackDetail"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.UI.User.HomePage"
            android:exported="false" />
    </application>

</manifest>